<button mat-raised-button color="primary" class="buttonProduct" routerLink="/admin/products/new">New Product</button>

  <table class="table">
 <thead>
     <tr>
         <th>Name</th>
         <th>Date</th>
         <th></th>
     </tr>
 </thead>
 <tbody >
     <tr *ngFor="let item of filteredProduct">
         <td>{{item.title}}</td>
         <td>{{item.price | currency:'USD':true}}</td>
         <td>
             <a [routerLink]="['/admin/products/',item.key]">Edit</a>
         </td>
     </tr>
 </tbody>
    

</table>   

